
nav{
    
    height: 100%;
    width: 100%;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.container{
   
 display: inline;
 display: flex;
 text-decoration-line: inline; }
.gambar{
  display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 10px;

}

.carousel-inner {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
    border-radius: 73px;
}


@media(max-widht : 600px){
        .cari{
            display: none;
        }
        .body{
            background-color: rgb(124, 240, 124);
        }
}
